{
  "presets": [
    ["env", {
		"modules": false,
		"targets": {
			"browsers": [
				"last 1 version",
				"not dead",
				"> 1% in US",
			]
		}
	}],
    "stage-2"
  ],
  "plugins": ["transform-runtime"]
}
